
body{
  font-family: "Kodchasan", sans-serif;
  font-size: 14px; 
  width: 100%;
  margin: 0;
  padding: 0;
}
.App{
  text-align: center;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*Body*/
.container{
  padding: 0 2em 0 2em;
  width: 100%;
  margin: 0;
  padding: 0;
}
/*header component: houses 3 sections: logo, nav-bar, search*/
.header{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: 2em 2em;
  align-items: center;
}
.n-logo{
  width: 10em;
  height: 4.5em;
}

.cart_icon, .search_icon{
  width: 20px;
  height: 20px;
  margin: 12px;
  padding: 10px;
}
.cart_icon:hover, .search_icon:hover{
  background-color: #5e17eb2a;
  border-radius: 50%;
  
}

/*nav-bar (2nd section)*/
.nav-bar ul{
  width: 200px;
  list-style: none;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.nav-bar ul li:hover{
  font-weight: 700;
  color: #5E17EB;
}
/*search (3rd section)*/
.search{
  margin: 0;
  padding:  0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search-in{
    height: 10px;
    padding: 0.5rem;
    border-radius: 8px;
    border-style: solid;
    border-width: 1px;
    box-shadow: none;
}
/*search input box
.search-in{
  margin-top: 9px;
  height: 20px;
  padding: 0.3rem;
  border-radius: 8px;
  border-style: solid;
  box-shadow: none;
}*/


